{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %} {% endblock title %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
  <script src="{% static 'dashboard/jquery/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'dashboard/main.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/bootstrap/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/base.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/index.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/notes.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/homework.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/note_detail.css'%}"/>
  <link rel="stylesheet" href="{% static 'dashboard/todo.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/youtube.css' %}" />
</head>

<body style="margin: auto;">
  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-{{msg.tags}}">{{msg}}</div>
  {% endfor %}
  {% endif %}
  <div class="header">


    <div class="head_content1" >
        <h2>S<span>S</span><span>P</span></h2>
    </div>


    <div class="head_content2">
        <!-- <i class="fa fa-user" style="font-size: 40px; color: blueviolet;"></i> -->
         <img src="/static/dashboard/images/toy face1.jpg" alt="" style="width: 50px; height: 50px; border-radius: 60px; border: 2px solid  rgb(0, 140, 255); box-shadow: 0.5px 0px blueviolet;">
        <div>{{request.user}}</div>
        
    </div>


    <div class="head_content3">
        <div class="icon1">
            <div>&#9776;</div>
        </div>

        <div class="icon2">   
            <div>&#10005;</div> 
    </div>
</div>
</div>

<div class="head_side">
    <div class="list">
        <div class="list_box">
        <h3>My Contents</h3>
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'notes' %}">Notes</a></li>
            <li><a href="{% url 'books' %}">Books</a></li>
            <li><a href="{% url 'homework' %}">Homework</a></li>
            <li><a href="{% url 'todo' %}">To-do App</a></li>
            <li><a href="{% url 'dictionary' %}">Dictionary</a></li>
            <li><a href="{% url 'conversion' %}">Conversion</a></li>
            <li><a href="{% url 'wiki' %}">Wikipedia</a></li>
            <li><a href="{% url 'youtube' %}">Youtube</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            
        </ul>


        {% else %}

        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'register' %}">Signup</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
         
         
      </ul>


        {% endif %}
    </div>
    </div>
</div>


<script>
    
 $(document).ready(function(){
   $(".icon1 div").click(function(){
       $(".list_box").toggle("slow");
       $(".icon2 div").show();
      $(".icon1 div").hide();
  })
     });


      
 $(document).ready(function(){
   $(".icon2 div").click(function(){
       $(".list_box").toggle("slow");
       $(".icon1 div").show();
      $(".icon2 div").hide();
  })
     });


     
$(document).ready(function(){
  $(window).scroll(function(){
  	var scroll = $(window).scrollTop();
	  if (scroll > 100) {
	    $(".header").css("background" , "ghostwhite");
      $(".header").css("box-shadow", "3px 3px 3px 5px rgba(78, 77, 77, 0.774)");
  
	  }

	  else{
		  $(".header").css("background" , "transparent"); 
      $(".header").css("box-shadow", 'none');	
	  }
  })
})


</script>




  <!-- <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Student Study Portal</a>        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Wikipedia</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">Dictionary</a>
                <a class="dropdown-item" href="#">Youtube</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">To-do</a>
                <a class="dropdown-item" href="#">Homework</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Notes</a>
                <a class="dropdown-item" href="#">Conversion</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br /><br /> -->
  <main>



    {% block content %}
    {% endblock content %}

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>