{% extends 'dashboard/base.html' %} 
{% block title %} Sign Up For An Account {% endblock title %}
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
<style>
  input{
   width: 100%;
   padding: 3px 10px;
   border-radius: 5px;
   outline: none;
   border: grey solid 1px;

  }
  .form_item{

    padding: 10px;
    width: 70%;
    text-align: center;
    justify-self: center;
  }
  .border-top{
    text-align: center;
  }
  .form-group, .border-top{
    width: 70%;
    justify-self: center;
  }
  .container{
    padding-top: 200px;
  }
</style>
<div class="container">
  <form method="POST" style="display: grid;">
    {% csrf_token %}
    <div class="form_item">
      {{form.username}}
      {{form.username.label}}

    </div>
    
      <div class="form_item">
      {{form.password1}}
      {{form.password1.label}}
    </div>
    <div class="form_item">
      {{form.password2}}
      {{form.password2.label}}
    </div>

    <fieldset class="form-group">
      <legend class="border-bottom mb-1">Join Today</legend>
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">
        Sign Up
      </button>
    </div>
  </form>
  <div class="border-top pt-1">
    <small class="text-muted">Already have an account?
      <a class="ml-2" href="{% url 'login' %}">Sign In</a>
    </small>
  </div>
</div>
{% endblock content %}