.section{
    width: 95%;
    margin: 0px 1.6%;
    justify-content: center;
    background: #ffffff;
   
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 20px 10px;
    margin-top: 50px;

}